---
import siteData from "@config/siteData.json";
import logo from "@images/site-logo.png";
import { Image } from "astro:assets";
---

<a class='primary-focus flex items-center align-middle' href='/' aria-label='Home' class=''>
	<div class='font-heading-1 staatliches-regular text-3xl uppercase'>{siteData.name}</div>
</a>
