---
import Button from "../../components/Button/Button.astro";
---

<form
	id='contact-form'
	name='contact form'
	action='/success'
	data-netlify='true'
	method='POST'
	class='flex h-full flex-col justify-between gap-4'>
	<input type='hidden' name='form-name' value='contact' />
	<div>
		<label for='contact-name' class='staatliches-regular text-lg uppercase'>Your Name</label>
		<input type='text' class='form__input' name='name' id='contact-name' placeholder='' required />
	</div>
	<div class='flex flex-col gap-1'>
		<label for='contact-email' class='staatliches-regular text-lg uppercase'>Email </label>
		<input
			type='email'
			class='form__input'
			name='email'
			id='contact-email'
			inputmode='email'
			placeholder=''
			required
		/>
	</div>
	<div>
		<label for='contact-date' class='staatliches-regular text-lg uppercase'
			>What are you interested in learning?</label
		>
		<input
			type='text'
			name='interestedIn'
			class='form__input'
			id='contact-date'
			placeholder=''
			required
		/>
	</div>
	<div>
		<label for='contact-message' class='staatliches-regular text-lg uppercase'>Message </label>
		<textarea
			name='message'
			class='form__input'
			id='contact-message'
			rows='6'
			placeholder=''
			required></textarea>
	</div>
	<div class='flex'>
		<Button variant='primary' type='submit' class='staatliches-regular w-full flex-1 px-10 md:w-fit'
			>Submit</Button
		>
	</div>
</form>
