---
import Button from "../../components/Button/Button.astro";
---

<form
	id='contact-form'
	name='contact form'
	action='https://formgrid.dev/api/f/7wg3h0hj'
	method='POST'
	class='flex h-full flex-col justify-between gap-4'>
	<input type='hidden' name='form-name' value='contact' />
	<div>
		<label for='contact-name' class='staatliches-regular text-lg uppercase'>Your Name</label>
		<input type='text' class='form__input' name='name' id='contact-name' placeholder='' required />
	</div>
	<div class='flex flex-col gap-1'>
		<label for='contact-email' class='staatliches-regular text-lg uppercase'>Email </label>
		<input
			type='email'
			class='form__input'
			name='email'
			id='contact-email'
			inputmode='email'
			placeholder=''
			required
		/>
	</div>
	<div>
		<label for='contact-date' class='staatliches-regular text-lg uppercase'
			>What are you interested in learning?</label
		>
		<input
			type='text'
			name='interestedIn'
			class='form__input'
			id='contact-date'
			placeholder=''
			required
		/>
	</div>
	<div>
		<label for='contact-message' class='staatliches-regular text-lg uppercase'>Message </label>
		<textarea
			name='message'
			class='form__input'
			id='contact-message'
			rows='6'
			placeholder=''
			required></textarea>
	</div>
	<div class='flex'>
		<!-- Add before your submit button -->
		<script src='https://js.hcaptcha.com/1/api.js' async defer></script>

		<div class='h-captcha' data-sitekey='4984ef7a-17c0-4828-a638-9b1e7158f138' data-theme='light'>
		</div>

		<Button
			variant='primary'
			id='submit-btn'
			type='submit'
			class='staatliches-regular w-full flex-1 px-10 md:w-fit'>Submit</Button
		>
	</div>
</form>

<script>
	const form = document.getElementById("#contact-form") as HTMLFormElement;
	const submit = document.getElementById("#submit-btn") as HTMLButtonElement;

	form.addEventListener("submit", async (e) => {
		e.preventDefault();

		submit.textContent = "Sending...";
		submit.disabled = true;

		const formData = new FormData(form);
		const data = Object.fromEntries(formData.entries());

		try {
			const response = await fetch("https://formgrid.dev/api/f/7wg3h0hj", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(data),
			});

			console.log("response: ", response);

			if (response.ok) {
				form.reset();
			} else {
				alert("Something went wrong. Refresh the page and try again");
			}
		} catch (err) {
			console.error(err);
		}
	});
</script>
